@font-face {
  font-family: "Roboto";
  src: url(../Fonts-Roboto/Roboto-Regular.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url(../Fonts-Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "RobotoItalic";
  src: url(../Fonts-Roboto/Roboto-Italic.ttf) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "RobotoItalicLight";
  src: url(../Fonts-Roboto/Roboto-LightItalic.ttf) format("truetype");
  font-style: italic;
}

* {
  /* border: 1px solid red; */
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  padding: 0px 150px;
  width: auto;
  max-width: 100%;
  height: 570px;
  background-color: #1F2937;
}

.topNav { 
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.navbarLogo {
  text-decoration: none;
  font-size: 24px;
  color: #F9FAF8;
}

.headerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.headerLinks a{
  margin-right: 19px;
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;

}

.headerContainer {  
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 230px;
  margin-top: 110px;
  display: flex;
  background-color: #1F2937;
}

.headerCol1 {  
  background-color:#1F2937;
  width: 50%;
  height: auto;
  padding-right: 20px;
  
}

.headerCol1 h1 {
  font-size: 48px;
  font-weight: 800px;
  color: #F9FAF8;
}

.headerCol1 p {
  font-size: 18px;
  color: #E5E7EB;
}

.headerBtn { 
  margin-top: 10px; /* Sign up Button < Div >  */ 
}

.headerBtn button { /* Sign up Button */

  width: 130px;
  height: 40px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  background-color: #3882F6;
  color: #E5E7EB;
}

.headerCol2 {
  width: 50%;
  height: auto;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 230px;
  background-color: #6d747d;
  color: #E5E7EB;
  font-size: 18px;
}

.mainContainer {
  background-color: #FFFFFF;
  width: auto;
  max-width: 100%;
  height: 1100px;
}

#sectionTwo #sectionThree #sectionFour #footer{
  background-color: #FFFFFF;
  width: auto;
  max-width: 100%;
  height: 800px;
}

.randomInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 400px;
  margin-top: 50px;
}

.randomInfoContainer h1 {  
  font-size: 36px;
  font-weight: 800px;
  color: #1F2937;
}

.random-information {
  width: 1380px;
  height: 300px;
  display: flex;
  justify-content: center;
}

.information { 
  width: 230px;
  height: auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.information p { 
  color: #4b5563; 
  padding-top: 5px;
  text-align: center;
}

.information-item {
  border-radius: 15px;
  border: 3px solid #3882F6;
  width: 170px;
  height: 170px;
}

.quoteContainer {
  background-color: #E5E7EB;
  width: auto;
  max-width: 100%;
  height: 400px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quoteMessage {
  width: auto;
  height: auto;
}

.quoteMessage p {
  font-family: 'RobotoItaliclight'; /* light Italic*/
  color: #1F2937;
  font-size: 36px;
  font-weight: 100;
}

.quoteContainer .author {
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.callActionContainer {
  width: auto;
  max-width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallContainer .textColumn {
  width: auto;
  height: auto;
  margin-right: 130px;
}

.smallContainer .textColumn h2 { color: #E5E7EB; }

.smallContainer .textColumn p { color: #dddfe4;; }

.smallContainer {  
    background-color: #3882F6;
    border-radius: 15px;
    width: 900px;
    height: 120px;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
}

.bnColumn {
  width: auto;
  height: auto;
}

.btnColumn button {
  width: 130px;
  height: 40px;
  border: none;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 20px;
  background-color: #3882F6;
  color: #E5E7EB;
}

footer {
  background-color: #1F2937;
  width: auto;
  max-width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p{
  color: #ffffff;
  font-size: 18px;
}
